{% extends 'heroku.html.twig' %}
{% trans_default_domain 'AppBundle' %}
{% block body %}
<h1>{{ 'iniciotitulo' | trans }}</h1>
<p>{{ 'iniciocontenido1' | trans }}</p>
<p>{{ 'iniciocontenido2' | trans }}</p>
<p>{{ 'iniciocontenido3' | trans }}</p>
<p>{{ 'iniciocontenido4' | trans }}</p>
<p>{{ 'iniciocontenido5' | trans }}</p>
{% endblock %}

{% block stylesheets %}
{% endblock %}
