{% extends 'heroku.html.twig' %}
{% trans_default_domain 'AppBundle' %}
{% block stylesheets %}<link rel="icon" type="image/x-icon" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
{% endblock %}
{% block body %}
<h1>{{ title }}</h1>
<div class='col-sm-6'>
<table class='table table-striped'><tr><th>{{ 'identificador' | trans }}</th><td>{{ person.Id }}</td></tr>
<tr><th>{{ 'nombre' | trans }}</th><td>{{ person.Name }}</td></tr>
<tr><th>{{ 'edad' | trans }}</th><td>{{ person.Age }}</td></tr>
<tr><th>{{ 'nac' | trans }}</th><td>{{ person.BirthDate|date('d/m/y') }}</td></tr>
<tr><th>{{ 'altura' | trans }}</th><td>{{ person.Height }}</td></tr>
<tr><th>{{ 'email' | trans }}</th><td>{{ person.Email }}</td></tr>
<tr><th>{{ 'tel' | trans }}</th><td>{{ person.Phone }}</td></tr>
<tr><th>{{ 'sexo' | trans }}</th><td>{{ person.Gender }}</td></tr>
<tr><th>{{ 'desc' | trans }}</th><td>{{ person.Descends }}</td></tr>
<tr><th>{{ 'vehiculo' | trans }}</th><td>{{ person.Vehicle }}</td></tr>
<tr><th>{{ 'lenguaje' | trans }}</th><td>{{ person.PreferredLanguaje }}</td></tr>
<tr><th>{{ 'ningles' | trans }}</th><td>{{ person.EnglishLevel }}</td></tr>
<tr><th>{{ 'urlpersonal' | trans }}</th><td>{{ person.PersonalWebSite }}</td></tr>
<tr><th>{{ 'debitoCredito' | trans }}</th><td>{{ person.CardNumber }}</td></tr>
<tr><th>{{ 'ncuenta' | trans }}</th><td>{{ person.IBAN }}</td></tr>
</table></div>
{% endblock %}